/* header */
header
{
    background: url(../../assets/images/header-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
}

/* hamburger-menu */
.hamburger-menu
{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 20px 16px;
}
.hamburger
{
    position: relative;
    background-color: #000;
    width: 30px;
    height: 2.5px;
    transition: 0.2s;
}
.hamburger::before,
.hamburger::after
{
    content: " ";
    position: absolute;
    left: 0;
    top: -9px;
    background-color: #000;
    width: 30px;
    height: 2.5px;
    transition: 0.4s;
}
.hamburger::before
{
    top: 9px;
}
.hamburger-menu.active .hamburger
{
    background-color: rgba(0, 0, 0, 0);
}
.hamburger-menu.active .hamburger::before
{
    transform: rotate(135deg);
    top: 0px;
}
.hamburger-menu.active .hamburger::after
{
    transform: rotate(45deg);
    top: 0px;
}
/* navigation-bar */
.navbar-shadow
{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
}
.navigation-bar .btn-outline-purple
{
    background-color: transparent;
}
.navigation-bar .btn-outline-purple:hover
{
    background-color: #6A34E9;
}
.navigation-bar .dropdown-menu
{
    margin-top: 21px;
}

/* banner */
.banner .header-image-one
{
    left: 5%;
    top: 3%;
    width: 30%;
}
.banner .btn-gradient
{
    animation-delay: 2s;
}

/* main */
main
{
    background-color: #fff;
}

/* scroll-to-top */
.scroll-to-top
{
    right: 30px;
    bottom: 30px;
    background-color: #6A34E9;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

/* services */

.services .card
{
    transition: .5s;
    box-shadow: 0 0 9px rgb(0 0 0 / 7%);
    background: #f9fcff;
    z-index:1;
}
.services .card::before
{
    content: " ";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 100%;
    background: url(../../assets/images/service-card-image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    border-radius: inherit;
    z-index: -1;
    transition: 0.5s;
}
.services .card:hover
{
    transform: translateY(-5px);
}
.services .card:hover::before
{
    width: 100%;
    opacity: 1;
    left: 0;
}
.services .card:hover .card-body h4,
.services .card:hover .card-body p
{
    color: #fff;
}
.services .card .icon-box
{
    position: relative;
    width: 120px;
    height: 120px;
}
.services .card .icon-box i
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--clr);
    z-index: 10;
}
.services .card .icon-box::before
{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 105px;
    width: 105px;
    border-radius: 36% 66% 70% 30% / 63% 62% 38% 51%;
    background-color: var(--clr);
    opacity: 0.25;
    transition: 0.5s;
    z-index: 5;
}
.services .card .icon-box::after
{
    background: url(../../assets/images/service-icon-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    position: absolute;
    top: 5%;
    left: -2.5%;
    height: 113px;
    width: 119px;
    opacity: 0;
    transition: 0.5s;
}
.services .card:hover .icon-box::before
{
    opacity: 1;
    background-color: #fff;
}
.services .card:hover .icon-box::after
{
    opacity: 1;
}

/* about-us */
.about-us i
{
    padding-top: 3px;
}
/* description */

.description .box-icon
{
    background: linear-gradient(to right,#533EFF,#740FD7);
    width: 55px;
    height: 55px;
}
.description .content-box:hover .box-icon
{
    background: linear-gradient(to right,#740FD7,#533EFF);
}

/* why choose us */

.why-choose-us .horizontal-card
{
    padding: 35px 40px; 
    transition: 0.5s;
    position: relative;
    border-radius: 5px;
}
.why-choose-us .horizontal-card:hover
{
    transform: translateX(-8px);
}
.why-choose-us .horizontal-card::before
{
    background: url(../../assets/images/why-choose-us-card-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    opacity: 0;
    border-radius: inherit;
    transition: 0.5s;
}
.why-choose-us .horizontal-card:hover::before
{
    left: 0;
    width: 100%;
    opacity: 1;
}
.why-choose-us .horizontal-card .content-box
{
    z-index: 10;
}
.why-choose-us .horizontal-card:hover .content-box h4,
.why-choose-us .horizontal-card:hover .content-box p
{
    color: #fff;
}
.why-choose-us .horizontal-card .box-icon
{
    position: relative;
    width: 100px;
    height: 100px;
}
.why-choose-us .horizontal-card .box-icon i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--clr);
    z-index: 10;
}
.why-choose-us .horizontal-card .box-icon::before
{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 85px;
    width: 85px;
    border-radius: 36% 66% 70% 30% / 63% 62% 38% 51%;
    background-color: var(--clrtwo);
    transition: background-color 0.5s;
    z-index: 5;
}
.why-choose-us .horizontal-card:hover .box-icon::before
{
    background-color: #fff;
}

/* our-team */
.team-member-card
{
    position: relative;
}
.team-member-card a
{
    width: 30px;
    height: 30px;
}
.team-member-card::before
{
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    background: linear-gradient(to right,#533EFF,#740FD7);
    width: 0;
    height: 100%;
    opacity: 0.65;
    transition: 0.5s;
    border-radius: inherit;
}
.team-member-card .card-img-overlay
{
    opacity: 0;
    transform: translateY(20px);
    z-index: 3;
}
.team-member-card:hover::before
{
    left: 0;
    width: 100%;
}
.team-member-card:hover .card-img-overlay
{
    opacity: 1;
    transform: translateY(0); 
}

/* portfolio */

.portfolio-card
{
    position: relative;
}
.portfolio-card::before
{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 85%;
    width: 0;
    opacity: 0.8;
    border-radius: inherit;
    transition: 0.5s;
    background: linear-gradient(to right,#533EFF,#740FD7);
}
.portfolio-card .card-img-overlay
{
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
    width: 100%;
}
.portfolio-card:hover::before
{
    width: 85%;
}
.portfolio-card:hover .card-img-overlay
{
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

/* testimonial */

/* swiper testimonial slider */
.testimonial-slider
{
    width: 100%;
    max-width: 1100px;
}
.testimonial-slider .testimonial-slide 
{
    position: relative;
}
.testimonial-slider .testimonial-slide .content
{
    background: linear-gradient(to right,#533EFF,#740FD7);
    padding: 30px 40px;
    padding-top: 80px;
    margin-top: 60px;
}
.testimonial-slider .testimonial-slide .content .title div
{
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
}
.testimonial-slider .img-container
{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.testimonial .img-container img
{
    width: 120px;
    height: 120px;
}

.testimonial .swiper-pagination-bullet
{
    background-color: #6A34E9;
    transition: opacity 0.3s;
    width: 13px;
    height: 13px;
}
.testimonial .swiper-pagination-bullet-active
{
    border: 2px solid #fff;
    outline: 2px solid #6A34E9;
}

/* blog */

/* swiper blog slider */
.blog-slider
{
    width: 100%;
    max-width: 1260px;
}
.blog-slider .card .read-more a
{
    border-bottom: 2px solid #6A34E9;
}
.blog-slider .card .read-more i
{
    transition: 0.4s;
}
.blog-slider .card .read-more a:hover ~ i
{
    transform: translateX(6px);
}

/* main-footer */

.main-footer
{
    background: linear-gradient(to right,#533EFF,#740FD7);
}
.main-footer .btn-outline-white
{
    background-color: transparent;
}
.main-footer .btn-outline-white:hover
{
    background-color: #fff;
}
.main-footer .btn-outline-purple:hover
{
    background-color: transparent;
}

/* footer */
footer .row
{
    width: 100%;
    max-width: 1200px;
}
footer .contact-info-box-icon
{
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
}
footer .contact-info-box-icon:hover
{
    background-color: #fff;
    color: #6A34E9;
}
footer form
{
    width: 100%;
    max-width: 500px;
}
footer form .email
{
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff !important;
}
footer form .email::placeholder
{
    color: #fff;
    opacity: 0.6;
}
footer form .email:focus
{
    background-color: rgba(255, 255, 255, 0.1);
}
footer form .submit
{
    background-color: #740FD7 !important;
    color: #fff !important;
}



/* media queries */

@media screen and (max-width:992px)
{
    .blog-slider
    {
        max-width: 840px;
    }
    .navigation-bar .dropdown-menu
    {
        margin-top: 0;
    }
}
@media screen and (max-width:768px)
{
    .blog-slider
    {
        max-width: 480px;
    }
}